@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #007a8a, #167783, #863f3f, #875252);

}

.accordion{
    max-width: 530px;
    width: 100%;
    margin: 0 15px;
    padding: 15px;
    border-radius: 8px;
    /* background-color: #599bff; */
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.accordion .accordion-content{
    margin: 10px 0 ;
    border-radius: 4px;
    background-color: #3a5c6c;
    border: 1px solid #00265f;
    overflow: hidden;
}

.accordion-content:nth-child(2){
    background-color: #8f4545;
    border-color: #300808;
    color: white;
    
}
.accordion-content:nth-child(3){
    background-color: #3a5c6c;
    border-color: #00265f;
    
}
.accordion-content:nth-child(4){
    background-color: #8f4545;
    border-color: #300808;
    color: white;
    
}

.accordion-content.open{
    padding-bottom: 10px;
}

.accordion-content header{
    display: flex;
    min-height: 50px;
    /* background-color: #01409d; */
    padding: 0 15px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s linear;
}

.accordion-content.open header{
    min-height: 35px;
  
}

.accordion-content header .title{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

.accordion-content header i{
    font-size: 15px;
    color: #fff;
}

.accordion-content .description{
    height: 0;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    padding: 0 15px;
    transition: all 0.2 s linear;
}