*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, rgb(49, 88, 100),  rgb(101, 84, 0), rgb(110, 44, 0), rgb(119, 99, 0), rgb(124, 48, 9));
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
}

.container {
    text-align: center;
    background-color: #282828;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8);
}

h1 {
    font-size: 2rem;
    color: #ffcc00;
}

p{
    margin-top: 9px;
}

input {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #000000;
    margin-top: 16px;
    width: 80%;
}
input:focus{
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #ff5722;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #e64a19;
}

#message {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #ffcc00;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


.firecracker {
    position: absolute;
    width: 100px;
    display: none; 
}

#firecrackerLeft {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 200px;
    width: 200px;
}

#firecrackerRight {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 200px;
    width: 200px;
}

@media (max-width: 768px) {
    #firecrackerLeft {
        left: 50%;
        top: 10px;
        transform: translateX(-50%);
    }

    #firecrackerRight {
        left: 50%;
        right: auto;
        transform: translateX(-50%);
        margin-top: 177px;
    }
}

/* #firecrackerTop {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 200px;
    width: 200px;
} */
